:root {
    --background-color: rgb(23, 52, 80);
    --light-text-color: rgb(21, 190, 246);
    --dark-text-color: rgb(16, 77, 108);
    --shadow-color: rgb(6, 104, 163);
    --highlight-color: palegreen;

}

main {
    width: 80%;
    margin: 1rem auto;
    
}
body {
    background-color: var(--background-color);
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    text-shadow: 0rem 0rem 0.13rem var(--light-text-color);
    margin: auto;
    color: var(--light-text-color);
}

header {
    text-align: center;
    margin: auto;
}

.musicName {
    margin: 0.5rem 0.75rem;
}

.template {
    display: none;
}

.actions .button {
    margin-bottom: 0;
}

#musicForm {
    box-shadow: 0rem 0rem 10rem 0rem var(--shadow-color);
}

#musicForm .input-group-field {
    color: var(--dark-text-color);
}

#musicForm .button.success {
    color: var(--dark-text-color);
}

#musicList > li {
    color: var(--light-text-color);
    padding: 0.03rem;
    box-shadow: 0rem 0rem 0.4rem 0.1rem var(--shadow-color),
                0rem 0rem 1.3rem 0.1rem var(--shadow-color) inset;
    margin: 0.5rem auto;
    width: 90%;
}

#musicList .button {
    float: right;
}
#musicList .button.up, #musicList .button.down {
    color: var(--light-text-color);
}
#musicList .button.favorite {
    background-color: mediumseagreen;
    color: var(--dark-text-color);
}

#musicList .button.delete {
    color: #cacaca;
}