main {
    width: 80%;
    margin: 1rem auto;
}

h1 {
    margin: auto;
}

#musicList > li {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#musicList button {
    float: right;
}

header {
    text-align: center;
}

.actions .button {
    margin-bottom: 0;
}

.musicName {
    margin: 0 0.75rem;
}

.template {
    display: none;
}